schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="yml_catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="shop">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="company"/>
              <xs:element type="xs:string" name="url"/>
              <xs:element name="currencies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="currency">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id"/>
                            <xs:attribute type="xs:byte" name="rate"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="categories">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="id" use="optional"/>
                            <xs:attribute type="xs:short" name="parentId" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="offers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="offer" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element type="xs:short" name="categoryId"/>
                          <xs:element type="xs:string" name="currencyId"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:int" name="modified_time"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:float" name="oldprice"/>
                          <xs:element name="param">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="picture"/>
                          <xs:element type="xs:float" name="price"/>
                          <xs:element type="xs:string" name="url"/>
                          <xs:element type="xs:string" name="vendor"/>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="available" use="optional"/>
                        <xs:attribute type="xs:int" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="date"/>
    </xs:complexType>
  </xs:element>
</xs:schema>